*{
	font-family: '微軟正黑體';
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightcyan;
}

//資訊卡

.information__container{
	background-color: white;
}

//標題

.title__container{
	text-align: center;
}

//下拉選單
.select__container{
	text-align: center;
}

//時間表

table{
	border-collapse: collapse;
}

td{
	border: solid 1px black;
	width: 60px;
	text-align: center;
}

.tableDaily__container{
	margin-top: 10px;
}

.tableHeading{
	background-color: lightblue;
}

.tableCinema{
	height: 100px;
}

.film__container{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0px;
	left: 90px;
	width: 80%;
	.film {
		position: absolute;
		background-color: lightpink;
		margin: 0;
		padding: 0;
		top: 65px;
		height: 80px;
		overflow:hidden;
		font-size: 0.5rem;


	}
	p,span{
		margin: 0;
		padding:0;
		font-size: 0.5rem;
	}
}
